<div id="nav" ng-controller="NavCtrl" touch-class>
    <div ng-show="categories == null">
        Loading Categories...
    </div>
    <ul ng-show="categories.length > 0">
        <li ng-repeat="c in categories" ng-click="open(c.id)" ng-class="activeClass(c.id)"><span class="count" ng-show="c.unreadCount"><span ng-show="c.unreadCount < 500">({{c.unreadCount}})</span><span ng-hide="c.unreadCount < 500">&infin;</span></span>{{c.label}}</li>
    </ul>
    <div id="nav-footer" ng-controller="GreetingCtrl">
        <p>{{name}} | <a ng-click="clickHelp()">Help</a> | <a href="#/logout">Logout</a>
        </p>

        <div class="help" ng-show="showHelp" ng-click="clickHelp()">
            <h3>Help</h3>

            <div class="no-touch">
                <p>That One Feed is operated with your keyboard, using similar shortcuts to the ones that Feedly itself uses.
                </p>

                <dl>
                    <dt><code>j</code></dt>
                    <dd>Jump to the next item and mark it as read.</dd>
                    <dt><code>k</code></dt>
                    <dd>Jump to the previous item.</dd>
                    <dt><code>&lt;space&gt;</code></dt>
                    <dd>If you're viewing a visual item, jump to the next.  If you're reading a textual item and not already at the bottom, scroll down.</dd>
                    <dt><code>d</code></dt>
                    <dd>Jump to the first item of the next entry (skipping any remaining items from the current entry) and mark it read.</dd>
                    <dt><code>s</code></dt>
                    <dd>Add (or remove) the current item from your saved list.</dd>
                    <dt><code>z</code>, <code>a</code></dt>
                    <dd>If you're viewing a visual item, adjust the zoom, either to full page (the default) or the content's natural size (which might larger or smaller).</dd>
                    <dt><code>?</code></dt>
                    <dd>Toggle this help popup.</dd>
                </dl>

                <p>The <code>&lt;shift&gt;</code> key may be used to reverse the direction of <code>j</code>, <code>k</code>, <code>&lt;space&gt;</code>, and <code>d</code> operations.  This matches normal website behaviour, but not Feedly (where <code>&lt;shift&gt;</code> is used to operate at the feed/category level instead of reversing direction).
                </p>
            </div>

            <div class="touch">
                <p>That One Feed is operated by simply by touching the right and left sides of the displayed item, which move forward and backward respectively.
                </p>

                <p>Touching the little 'save' ribbon next to the headline will add (or remove) the current item from your saved list.
                </p>
            </div>
        </div>

        <p><a href="{{feedlyUrl}}" class="feedly-link" ng-show="feedlyUrl">Feedly</a>
        </p>

        <p class="copyright">&copy; 2013 <a href="#/page/about">Barney Boisvert</a>
        </p>
    </div>
</div>