<div class="splash">
<h1>About</h1>

<p>That One Feed is a super simple app designed to address some downsides to the main Feedly web interface.
</p>

<p>The front end is constructed using <a href="http://angularjs.org">AngularJS</a>, a lightweight JavaScript framework constructing for rich applications.
</p>

<p>The server side is nothing more than a thin proxy to the Feedly Cloud, running <a href="http://getrailo.com">Railo</a>.  There is no database; all storage happens directly in the Feedly Cloud.
</p>

<p>The entire application's lifecycle is managed via <a href="http://gruntjs.com/">Grunt</a> with the help of <a href="http://nodejs.org/">Node</a>, <a href="https://npmjs.org/">NPM</a>, and a bunch of plugins.
</p>

<h2>Contact Me</h2>

<p>If you want to get in touch, find me <a href="https://twitter.com/barneyb">@barneyb</a>, drop me a line at <a href="mailto:thatonefeed@barneyb.com">thatonefeed@barneyb.com</a>, or even stop by my house for a drink.
</p>
</div>