<div class="splash">
<h1>About</h1>

<p>That One Feed is a super simple app designed to address some downsides to the main Feedly web interface.  There are three  main differences: content negotiation, content splitting, and content sizing.
</p>

<p>If you subscribe to a photography blog, the photos are the point of the posts.  Most will have textual captions, but usually of minimal size. That One Feed recognizes this and moves the textual content to an unobtrusive caption in the bottom right corner where it's out of your way, and more importantly, makes the photo display full screen.  Even better, if the photos are hosted using certain well-known services, it'll automatically go find a higher-resolution image and display that to you instead.
</p>

<p>Similarly, it's not uncommon for posts to contain multiple photos, and That One Feed will split them up so you can look at each photo individually.
</p>

<p>Of course, not all posts are so visually-focused.  Entries with a large textual component are displayed as-is, with any visual components inline.  Like Feedly, silly little stuff (e.g., links to share on social media sites) is hidden from view.  Unlike Feedly, inline visual components are scaled to maximize their impact within the flow of the entry.
</p>

<h2>Get In Touch</h2>

<p>If you want to get in touch, drop me a line at <a href="mailto:thatonefeed@ barneyb.com">thatonefeed@ barneyb.com</a>, or stop by my house for a drink. I have a wide selection of whisk(e)y from the US, Canada, Ireland, Scotland, and Japan to share over interesting conversation.
</p>

<h2>Internals</h2>

<p>The front end is constructed using <a href="http://angularjs.org">AngularJS</a>, a lightweight JavaScript framework constructing for rich applications.
</p>

<p>The server side is nothing more than a thin proxy to the Feedly Cloud, running <a href="http://getrailo.com">Railo</a>.  There is no database; all storage happens directly in the Feedly Cloud.
</p>

<p>The entire application's lifecycle is managed via <a href="http://gruntjs.com/">Grunt</a> with the help of <a href="http://nodejs.org/">Node</a>, <a href="https://npmjs.org/">NPM</a>, and a bunch of plugins.
</p>
</div>