<div class="splash">
<h1>That One Feed</h1>

<p>Something went amiss when you tried to sign into Feedly. Perhaps you decided
to disallow access.  Perhaps there was an issue with your browser.  Maybe it was
your internet connection.
</p>

<p>If you do actually want to use That One Feed, try signing in again. Otherwise
just close your browser, and forget you ever heard of us.  We won't be offended.
</p>

<p ng-show="authUrl" class="centered"><a href="{{authUrl}}" class="feedly-link" oauth-trigger>Sign In</a>
</p>
</div>