<div class="splash">
<h1>That One Feed</h1>

<p>That One Feed is the minimalist's way of consuming your Feedly-managed content.
</p>

<p>That One Feed lets you view your Feedly categories a single item at a time. It marks your items read as soon as you see them.  It lets you consume content in an optimized way, with no fuss.  It is sophisticated, yet unapologetically simple.
</p>

<p>That One Feed doesn't do scrolling.  It doesn't do individual feeds.  It doesn't do tags.  It doesn't require an account.
</p>

<p>That One Feed is not for everyone.  But if you want a simple viewer that gets out of your way, it <em>is</em> for you.
</p>

<p ng-show="authUrl" class="centered"><a href="{{authUrl}}" class="feedly-link" oauth-trigger>Sign In via Feedly</a>
</p>
</div>